<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <div style="padding:100px; background-color:#F8F8FF;border: double medium black;font-size: 20pt">
            @RenderBody()
        </div>
    </div>
</body>
</html>

