@{
    ViewBag.Title = "Уравнение";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <b>Уравнение:</b> <i> @ViewBag.Equat </i>
    </div>
</body>
</html>
